* {
    color: #e5dada;
}

body {
    background-color: #e5dade;
    font-family: 'PT Sans', sans-serif ;
    font-weight: 400;
}
h1 {
    color: #02040f;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}
a {
    text-decoration: none;
}
a:hover{
    color: #e5dada;
    text-decoration: underline;
}
li {
    padding-right: 1rem;
    display: inline-block;
}
.index {
    color: #e5dade;
}
header{
    background-color: #002642;
}
h2 {
    color: #02040f;
}
.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    background-color: #002642;
}
.text{
    color: #02040f;
    width: 800px;
}
.img {
    float: left;
    width: 400px;
    margin-right: 10px;
}

.em {
    color: #02040f;
}

.strong {
    color: #02040f;
}

