* {
    color: #000080;
}
body {
    background-color: #e5dada;
    font-family: 'PT Sans', sans-serif ;
    font-weight: 400;
}

h1 {
    color: #000080;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}
nav {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    color: #e5dada;
}
.text{
    width: 500px;
}
.img {
    float: left;
    width: 400px;
    height: 500px;
}

