body {
    background-color: #e5dada;
    font-family: 'PT Sans', sans-serif ;
    font-weight: 400;
}

h1 {
    color: #000080;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}
nav {
    background-color: #e5dada;
}